# Entornos y variables sensibles
.env
.env.*
env/
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
build/
dist/

# Sistema operativo
.DS_Store
Thumbs.db

# Editores / IDE
.vscode/
.idea/
*.swp

# Logs
*.log
